body
{
    font-family: "Arial", "Helvetica";
    font-size: 12pt;
}

article
{
    margin: 0 auto;
    width: 600px;
}

article > p
{
    text-align: justify;
}

article img
{
    display: block;
    margin: 0 auto;
    max-width: 500px;
}

code
{
    background: lightgray;
    font-size: 11pt;
}

code > pre
{
    margin-left: 20px;
}

footer
{
    margin: 0 auto;
    width: 600px;
}

footer > nav
{
    display: flex;
    margin: 20px 0;
}

header
{
    margin: 0 auto;
    width: 600px;
}

header:before
{
    color: #AAA;
    content: "osabe blog";
    display: block;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
}

header > nav
{
    display: flex;
    margin: 30px 0;
}

nav > a
{
    flex: 200px;
    text-align: center;
}

ol
{
    counter-reset: list-items;
    list-style-type: none;
    display: table;
}

ol > li
{
    display: table-row;
}

ol > li::before
{
    counter-increment: list-items;
    content: counters(list-items, ".") ". ";
    display: table-cell;
    white-space: pre;
}
